html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* New Task */
.new-task-0d99bbdf5dde {
  position: absolute;
  left: 237px;
  top: 82px;
  width: 359px;
  height: 90px;
  border:none;
  border-radius: 20px;
}

/* pen-square */
.pensquare-f1221645c65a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
  cursor: pointer;
}
.pensquare-f1221645c65a {
  position: absolute;
  left: 40px;
  top: 17px;
  width: 56px;
  height: 56px;
}

/* svg-path */
.svgpath-f12216475b0b > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-f12216475b0b {
  position: absolute;
  left: 9.33px;
  top: 7.01px;
  width: 39.26px;
  height: 39.66px;
}

/* base-background */
.basebackg-f1221646b25a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-f1221646b25a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  border-radius: 0px;
  display: none;
}

/* Nova Tarefa */
.nova-taref-f1218e768127 {
  position: absolute;
  left: 113px;
  top: 22px;
  width: 188px;
  height: 46px;
  cursor: pointer;
}
.nova-taref-f1218e768127 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.nova-taref-f1218e768127 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.nova-taref-f1218e768127 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.nova-taref-f1218e768127 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-f11a99c4b282 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 359px;
  height: 90px;
  background: #12CF8B;
  border-radius: 20px;
  cursor: pointer;
}


/* Hamb Menu */
.hamb-menu-0d99a3a5378f {
    position: absolute;
    cursor:pointer;
    border:none;
    left: 38px;
    top: 40px;
    width: 89px;
    height: 74px;
  }
  
  /* Rectangle */
  .rectangle-f122bcda537b {
    position: absolute;
    left: 0px;
    top: 25px;
    width: 89px;
    height: 24px;
    border-radius: 80px;
  }
  
  /* Rectangle */
  .rectangle-f122bc99d204 {
    position: absolute;
    left: 0px;
    top: 53px;
    width: 89px;
    height: 21px;
    border-radius: 80px;
  }
  
  /* Rectangle */
  .rectangle-f1225598b64a {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 89px;
    height: 21px;
    border-radius: 80px;
  }

  .month-name-0eac3e4a3c6b {
    position: absolute;
    left: 756px;
    top: 127px;
    width: 408px;
    height: 92px;
  }
  
  /* Month */
  .month-f12134b7d82d {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 408px;
    height: 92px;
  }
  .month-f12134b7d82d .root-0 {
    
    
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .month-f12134b7d82d .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .month-f12134b7d82d .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .month-f12134b7d82d .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 72px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }

/* LOG OUT */
.log-out-0eb5c8701c47 {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 1744px;
    top: 52px;
    width: 98px;
    height: 30px;
  }
  
  /* LOG OUT */
  .log-out-0eb57dcbe410 {
    border:none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 98px;
    height: 30px;
  }
  .log-out-0eb57dcbe410 .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .log-out-0eb57dcbe410 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    
    margin-right: 1px;
    vertical-align: top;
  }
  .log-out-0eb57dcbe410 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
  }
  .log-out-0eb57dcbe410 .root-0-paragraph-set-0-paragraph-0-text-0 {
    text-transform: none;

    line-break: auto;
    overflow-wrap: initial;
    white-space: pre;
    text-rendering: geometricPrecision;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 25px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }

  /* Next Month */
.next-month-0d9a2d96ad8d {
    border:none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 1837px;
    top: 374px;
    width: 56px;
    height: 536px;
  }
  
  /* arrow-next */
  .arrownext-f12f9a6d2d6c > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px,0px);
  }
  .arrownext-f12f9a6d2d6c {
    position: absolute;
    left: 2px;
    top: 249px;
    width: 50px;
    height: 50px;
  }
  
  /* svg-path */
  .svgpath-f12f9a6e675c > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px,0px);
  }
  .svgpath-f12f9a6e675c {
    position: absolute;
    left: 15.68px;
    top: 6.2px;
    width: 19.23px;
    height: 37.6px;
  }
  
  /* base-background */
  .basebackg-f12f9a6ddf6a > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px,0px);
  }
  .basebackg-f12f9a6ddf6a {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0px;
    display: none;
  }
  
  /* Rectangle */
  .rectangle-f120e370f4c7 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 536px;
    background: #12CF8B;
    border-radius: 20px;
  }

  /* Last Month */
.last-month-0d9a1c4d45e5 {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 27px;
    top: 374px;
    width: 58px;
    height: 536px;
  }
  
  /* arrow-prev */
  .arrowprev-f12f7fd000d2 > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px,0px);
  }
  .arrowprev-f12f7fd000d2 {
    position: absolute;
    left: 8px;
    top: 249px;
    width: 50px;
    height: 50px;
  }
  
  /* svg-path */
  .svgpath-f12f7fd09697 > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px,0px);
  }
  .svgpath-f12f7fd09697 {
    position: absolute;
    left: 15.09px;
    top: 6.2px;
    width: 19.23px;
    height: 37.6px;
  }
  
  /* base-background */
  .basebackg-f12f7fd07f25 > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px,0px);
  }
  .basebackg-f12f7fd07f25 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0px;
    display: none;
  }
  
  /* Rectangle */
  .rectangle-f11a6fde1df1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 536px;
    background: #12CF8B;
    border-radius: 20px;
  }

  /* Week Days */
.week-days-0d99e4eb21c5 {
    position: absolute;
    left: 272px;
    top: 307px;
    width: 1460px;
    height: 48px;
    display:grid; 
    grid-template-columns: repeat(7, 1fr); 
    justify-content: center; 
    align-content:center;
  }
  
  /* SUNDAY */
  .sunday-f12999f45716 {
    position: absolute;
    left: 1236px;
    top: 0px;
    width: 126px;
    height: 48px;
  }
  .sunday-f12999f45716 .root-0 {
    
    
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .sunday-f12999f45716 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .sunday-f12999f45716 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .sunday-f12999f45716 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }
  
  /* MONDAY */
  .monday-f1299682a13d {
    position: absolute;
    left: 1030px;
    top: 0px;
    width: 126px;
    height: 48px;
  }
  .monday-f1299682a13d .root-0 {
    
    
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .monday-f1299682a13d .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .monday-f1299682a13d .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .monday-f1299682a13d .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }
  
  /* TUESDAY */
  .tuesday-f12993d15dcd {
    position: absolute;
    left: 824px;
    top: 0px;
    width: 126px;
    height: 48px;
  }
  .tuesday-f12993d15dcd .root-0 {
    
    
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .tuesday-f12993d15dcd .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .tuesday-f12993d15dcd .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .tuesday-f12993d15dcd .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }
  
  /* WEDNESDAY */
  .wednesday-f12989ccace7 {
    position: absolute;
    left: 412px;
    top: 0px;
    width: 126px;
    height: 48px;
  }
  .wednesday-f12989ccace7 .root-0 {
    
    
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .wednesday-f12989ccace7 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .wednesday-f12989ccace7 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .wednesday-f12989ccace7 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }
  
  /* THURSDAY */
  .thursday-f1298527f195 {
    position: absolute;
    left: 206px;
    top: 0px;
    width: 126px;
    height: 48px;
  }
  .thursday-f1298527f195 .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .thursday-f1298527f195 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .thursday-f1298527f195 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .thursday-f1298527f195 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }
  
  /* FRIDAY */
  .friday-f12978a210c5 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 126px;
    height: 48px;
  }
  .friday-f12978a210c5 .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .friday-f12978a210c5 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .friday-f12978a210c5 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .friday-f12978a210c5 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }
  
  /* SATURDAY */
  .saturday-f12821dce182 {
    position: absolute;
    left: 618px;
    top: 0px;
    width: 126px;
    height: 48px;
  }
  .saturday-f12821dce182 .root-0 {
    
    
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .saturday-f12821dce182 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .saturday-f12821dce182 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
  }
  .saturday-f12821dce182 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: bold;
  }

  /* Month Days */
.month-days-0d9a02295970 {
    position: absolute;
    left: 272px;
    top: 467px;
    width: 1460px;
    height: 512px;
    border: none; 
    display:grid; 
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    justify-content: center; 
    align-content:center;
  }

.month_days {
    text-align:center; 
    align-content:center; 
    margin:0.1em;
    font-family:sans-serif; 
    font-size: large;
    border: none; 
    font-weight: 400;
    cursor: pointer;
}
.today {
    text-align:center; 
    align-content:center; 
    margin:0.1em;
    font-family:sans-serif; 
    background-color: white; 
    cursor: pointer; 
    font-weight: bold;
    font-size: large;
}

.no_month_days {
    text-align:center;
    margin:0.1em; 
    font-family:sans-serif; 
    align-content:center; 
    border:none; 
    cursor: pointer; 
    font-weight: 400;
    font-size: large;
} 

.calendar-body {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
}